POSTGRES_DB=whispr_invites
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SERVICES_PORT=8080

POW_SIGNING_KEY_BASE64=QEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaW1xdXl8=
ENCRYPTION_KEY_BASE64=AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8=
HASHING_KEY_BASE64=ICEiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6Ozw9Pj8=
